@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: "roboto-400";
  src: url(../Assets/fonts/Roboto-Regular.woff2) format("woff2");
  }

@font-face {
  font-family: "roboto-700";
  src: url(../Assets/fonts/Roboto-Bold.woff2) format("woff2");
} 

:root {
  --body-font-family: Roboto;
  --light-gray: #666666;
  --redish-color: #fb6f6f;
  --bluish-color: #34b5fd;
  --turquoise-color: #4bc0bb;
  --blou-color: #8ff8ffa1;
  --red-color: #ff0101;
  --gry-color: #666666;
  --pink-color: #ffb4b4a1;
  --green-color: #b8ff5fa6;
  --prple-color: #918effa1;
  --left-margin: 12px;
  --redus-border: 20px;
  --left-padding: 20px;
  --bg-color: #FCFFFF;
  --gray: #666666;
  --line-gray: #dadada;
  --light-blue: #57C3BE;
}



body {
  font-family: var(--body-font-family), var(--bs-body-font-family);
}

.container {
  max-width: 375px;
}

button {
  background: none;
  border: none;
  padding: 0%;
}

/* utils: */

.fs-18px {
  font-size: 1.125rem;
}

.fs-14px {
  font-size: 0.875rem;
}

.fs-12px {
  font-size: 0.75rem;
}

.text-gray {
  color: var(--light-gray);
}

.bg-red {
  background-color: var(--redish-color);
}

.bg-blue {
  background-color: var(--bluish-color);
}

.bg-turq {
  background-color: var(--turquoise-color);
}

.light-bg{
  background-color: var(--bg-color);
}

.text-gray{
  color: var(--gray);
}

.line-gray{
  background-color: var(--line-gray);
}

.light-blue-bg{
  background-color: var(--light-blue);
}

.ff-roboto-400{
  font-family: roboto-400;
}

.ff-roboto-700{
  font-family: roboto-700;
}

/* dashboard.html's Css */

.project-card {
  border-radius: 0.625rem;
}

.bg-design {
  background-image: url(../Assets/Images/Group-79.png);
  height: 17.5rem;
  background-position: center;
  background-repeat: no-repeat;
}
.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.125rem;
  & + .input {
    margin-top: 1.125rem;
  }
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 1px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.2rem 0 0;
  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: rgba(126, 126, 126, 1);
    & + .input-label {
      color: rgba(102, 102, 102, 1);
      transform: translateY(-1.5rem);
    }
  }
}
.w-30 {
  width: 33%;
}
.btn-1 {
  border-radius: 1.0625rem;
  padding: 0.42rem 1rem;
  font-size: 0.75rem;
}
.btn-2 {
  font-size: 1.125rem;
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  border-radius: 0;
}
.white-7 {
  background-color: rgba(241, 241, 241, 1);
  border-color: rgba(241, 241, 241, 1);
  color: black;
}
.pink-7 {
  background-color: rgba(254, 90, 90, 1);
  border-color: rgba(254, 90, 90, 1);
}
.gray-7 {
  color: rgba(102, 102, 102, 1);
}
/*  regestration  */
.container1{
    margin: auto;
    height: 812px;
    max-width: 375px;
    background-color: var(--bg-color);
    padding-left: 20px;
    padding-right: 20px;
}
.second-bg-img{
    margin-top: -6.1rem;
    margin-left: -4.96rem;
}
.first-bg-img{
    margin-left: -1.25rem;
}
.personal-div{
    margin-top: -6.7rem;
}
.tell-us-div{
    margin-top: 1.5rem;
}
.name{
    margin-top: 3.5rem;
}
.line-1{
    height: 0.0625rem;
}
.email{
    margin-top: 1.5rem;
}
.button-1{
    border: none;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    box-shadow: 0px 4px 5px 0px rgba(114, 114, 114, 0.47);
}
.button-div{
    margin-top: 2rem;
}